{% extends "base/base_layout.html" %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1>About MobisecScan</h1>
              
                  <p class="lead">
                    MobisecScan is a security research platform for mobile applications in Android, iOS and Windows Mobile. It is an enhanced MobSF, where we re-labelled of all present rules, Added new functionalities and Added context to ensure lesser false positive rates.
                
                 </p>
                  <p> <strong>Author:</strong> <a href="//twitter.com/ajinabraham">Open Security</a> </p>      
                  <h2>Active Collaborators</h2>
                    <p><a href="//github.com/sanyakapoor">Sanya</a></p>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}
